.picker {
    grid-column: 5/9;
    grid-row: 2/3;
    //background-color: cornflowerblue;
    align-self: end;
    
    padding-bottom: 50px;
    justify-self: center;
}
 input {
    font-size: 80px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: $color-grey-one;
    
     text-align: center;
     border: none;
     background-color: transparent;
     border-bottom: 2px solid #e3b924;
     &:focus {
         outline: none;
     }
 }